<h2><%= @idea.name %> </h2>
<p><%= @idea.content %></p>
<p>Author:  <%= @idea.user.username %> </p>

<%= link_to @idea.category.name, category_path(@idea.category) %>
<%= link_to "Delete", category_idea_path(@idea.category, @idea), method: :delete %>
<%= link_to "Edit", edit_category_idea_path(@idea.category, @idea) %>
