<%= link_to "Category Index", categories_path %>
<h1><%= @category.name %></h1>


  <% if @user == nil %>
    <p> You can only view your category ideas if you are logged in. </p>
  <% else %>
    <ul><% @users_ideas.each do |idea|  %>
    <li><%= link_to idea.name, category_idea_path(@category, idea) %></li>
        <% end %>
  <% end %></ul>

<%= link_to "Edit Category", edit_category_path %>
<%= link_to "Delete", category_path(@category), method: :delete %>
<%= link_to "Contribute an Idea", new_idea_path %>
